.OptionsContainer{
    margin: 20px;
}

.Options{
    background: #FFFFFF;
    border-radius: 10px;
    margin: 7px 0;

    width: 55%;
    border:2px solid #FFFFFF;
}
.Options:hover{
    border:2px solid #9575CD;

}
