.divInput{
    text-align: center;
}
.inputField {
    width: 300px;
    height: 48px;
    text-align: left;
    padding-left: 20px;
    background: linear-gradient(0deg, #E6EEF8, #E6EEF8), #CFD8DC;
    box-shadow: inset -4px -4px 12px rgba(253, 255, 255, 0.8), inset 4px 4px 12px rgba(187, 195, 206, 0.6);
    border-radius: 16px;
    margin: 10px;
    border: none;


    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
}
.inputField:focus{
    border: none;
    outline: none;
}

.inputField::placeholder {

    color: #90A4AE;
}