.divi {
    height:100vh;
    background-image: url("backgroundImage.png");
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

button {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 337px;
    height: 63px;
    left: 408px;
    top: 319px;
    border-radius: 100px;
    background: rgba(149, 117, 205, 0.74);
    border: none;
    margin-top: 25px;
    cursor:pointer;

}
button:hover{opacity:0.9;}

p {
    width: 252px;
    height: 37px;
    left: 449px;
    top: 33px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 37px;
    color: white;
    margin: auto;
}

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 184px;
    height: 85px;
    left: 484px;
    top: 19px;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 85px;
    margin-top: 45px;
    color: #000000;

}

img {
    margin-top:35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 286px;
    height: 96px;
    left: 433px;
    top: 51px;
    border-radius: 21px;

}
