.questionContainer{
    background: #FFFFFF;
    border-radius: 10px;
    width: 75%;
    margin: 10px;
    padding: 10px;;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;

    color: #000000;

}
