.signUpBox {
    background: linear-gradient(0deg, #E6EEF8, #E6EEF8), #CFD8DC;
    box-shadow: -16px -16px 40px rgba(253, 255, 255, 0.8), 16px 16px 40px rgba(187, 195, 206, 0.6);
    border-radius: 16px;
    width: fit-content;
    padding: 25px;

}

.welcomeText {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 1px;
    color: #546E7A;
}

.googleBackground {
    background: linear-gradient(0deg, #E6EEF8, #E6EEF8), #CFD8DC;
    box-shadow: -4px -4px 12px rgba(253, 255, 255, 0.8), 4px 4px 12px rgba(187, 195, 206, 0.6);
    border-radius: 48px;
    width: 48px;
    height: 48px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.googleBackground img{
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.signUpButtonContainer{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.SignUpButton {
    text-align: center;
    width: 113px;
    height: 48px;
    background: #9574CD;
    box-shadow: -4px -4px 12px rgba(253, 255, 255, 0.8), 4px 4px 12px rgba(187, 195, 206, 0.6);
    border-radius: 16px;
    border: none;

    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #FFFFFF;
}