.NextStep{
    background-color: #9575CD;
    color:white;
    padding:10px 30px;
    border:0;
    border-radius: 3px;
    cursor:pointer;
    margin-left: 550px;
    padding:15px 50px;
}
.NextStep:hover{
    background-color:#800080;
}
.NextStep[disabled]{
    display: none;
}
.finalPage{
    text-align: center;
}
.finalPage h2,p{
    text-align: center;
    margin:15px 0;
    font-size: 25px;
    font-weight: bold;
    color:#9575CD;
    text-transform: none;
    text-shadow: none;
}
.homePage{
    background-color: #9575CD;
    color:white;
    padding:10px 30px;
    border:0;
    border-radius: 3px;
    cursor:pointer;
    margin-left: 10px;
    padding:15px 50px;
}
.homePage:hover{
    border:2px solid purple;
}
