body{
    background-color: #E6EEF8;
}
.PageContainer{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}

/*NavBar*/
.NavBarContainer{
    margin: 20px 10px 20px;
}

.quisysLogo {
    width: 150px;
    height: 55.5px;
    top: 3px;
    left: 10px;
    display: inline;

}

.quizName{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    display: inline;
    margin: 0 auto;
}

.userDetails{
    text-align: right;
    display: inline;
}


/*QuestionGoTO*/

.questionNumbers {
    box-shadow: 0px 0px 0px transparent;
    text-shadow: 0px 0px 0px transparent;
    background: rgba(242, 242, 242, 0.6);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 7px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.questionNumbers:hover {
}

.questionNumbers:active {
    outline: none;
    border: none;
}

.questionNumbers:focus {
    outline: 0;
}


/*QuestionAnswers*/


.ButtonContainer button {
    background-color: #9575CD;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px 50px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

#previous {
    margin-right: 200px;
}

.finalPage {
    text-align: center;
}

.finalPage h2, .finalPage p {
    text-align: center;
    margin: 15px 0;
    font-size: 25px;
    font-weight: bold;
    color: #9575CD;
    text-transform: none;
    text-shadow: none;
}

.homePage {
    background-color: #9575CD;
    color: white;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
    padding: 15px 50px;
}

.homePage:hover {
    border: 2px solid purple;
}

.QnNoBox {

}

.QuestionOptionContainer {
    height: 80vh;
    border-left: 2px solid black;
    padding-left: 60px;

}


h4 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}


/*h2{*/
/*    border: 1px solid black;*/
/*}*/
