.ButtonContainer{
}
.ButtonContainer button {
    background-color: #9575CD;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px 50px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
#previous{
margin-right:200px;
}

.finalPage {
    text-align: center;
}

.finalPage h2, p {
    text-align: center;
    margin: 15px 0;
    font-size: 25px;
    font-weight: bold;
    color: #9575CD;
    text-transform: none;
    text-shadow: none;
}

.homePage {
    background-color: #9575CD;
    color: white;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
    padding: 15px 50px;
}

.homePage:hover {
    border: 2px solid purple;
}

.questionNumbers {
    background: rgba(242, 242, 242, 0.6);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 7px;
    width: 30px;
    height: 30px;
}

.questionNumbers:focus {
    outline: none;
}
.QnNoBox{

}

.Content {
    border-left: 2px solid black;
    margin-left: 25%;
    padding-left: 60px;

}
row1{
    position: relative;
    margin-bottom: 20px;
}
.image_quisys {
    position: absolute;
    width: 130px;
    height: 65px;
    top:3px;
    left:10px;

}
h2{
    postion:absolute;
    height: 40px;
    left: 265px;
    top: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    margin-left: 45%;

}
h3{
    position: absolute;
    width: 238px;
    height: 40px;
    left: 487px;
    top: 3px;
    margin-left: 50%;
    text-align: right;
}
h4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}


/*h2{*/
/*    border: 1px solid black;*/
/*}*/
